
html {
  background: url(../images/dark-bkg.jpg.png) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}


.firstname {
  text-align: center;
  color: rgb(42, 114, 182);
}

.lastname{
  text-align: center;
  color: rgb(245, 243, 240);
}

#name{
  float: left;
}

#pic{
  float: right;
}


