
html {
  background: url(../images/world-maps.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}


.firstname {
  text-align: center;
  color: rgb(134, 187, 236);
}

.lastname{
  text-align: center;
  color: rgb(245, 243, 240);
}

#name{
  float: left;
}

#pic{
  float: right;
}


