
html {
    background: url(../images/dark-bkg.jpg.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }
  

/* still dont have it right for full and small screen */
.row{
    width: 100%;
    height: 100%;
    background-color: transparent;
}

